body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left; /* alinha o texto à esquerda dentro do container */
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
    text-align: left; /* alinha o texto à esquerda dentro do item de lista */
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}