<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papelaria DELA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bem-Vindo</h1>
        </header>
        <center><img src="/static/images/papelariaDELA.png"></center> <br><br>

        <div id="menu">
            <button onclick="mostrarFormulario('formVenderProduto')">Vender Produto</button>
            <button onclick="mostrarFormulario('formAdicionarProduto')">Adicionar Produto</button>
            <button onclick="mostrarFormulario('formRemoverProduto')">Remover Produto</button>
            <button onclick="alternarEstoqueGeral()">Visualizar Estoque Geral</button>
            <button onclick="calcularLucro()">Calcular Lucro</button>
            <button onclick="mostrarFormulario('formAtualizarEstoque')">Atualizar Estoque</button> <!-- Botão para mostrar o formulário de atualização de estoque -->
        </div>

        <!-- Formulário para atualizar estoque -->
        <form id="formAtualizarEstoque" class="formulario" style="display:none">
            <input type="text" id="produtoAtualizarEstoque" placeholder="Nome do produto">
            <input type="number" id="novoEstoque" placeholder="Novo estoque">
            <button type="button" onclick="atualizarEstoque()">Atualizar Estoque</button>
        </form>

        <!-- Restante do seu HTML continua aqui -->

    </div>
    <footer>
        <p>&copy; Papelaria DELA</p>
    </footer>

    <script>
        var carrinho = [];
        var estoqueVisivel = false;
        var lucroVisivel = false;

        function mostrarFormulario(formId) {
            var forms = document.getElementsByClassName('formulario');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
            }
            document.getElementById(formId).style.display = 'block';
        }

        function adicionarProduto() {
            var produto = document.getElementById('novoProduto').value;
            var estoque = document.getElementById('estoqueProduto').value;
            var preco = document.getElementById('precoProduto').value;

            fetch('http://127.0.0.1:5000/adicionar_produto', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    produto: produto,
                    estoque: estoque,
                    preco: preco
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao adicionar produto.');
                }
            })
            .then(data => {
                alert(data.message); // Mensagem de sucesso ou erro
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }

        function removerProduto() {
            var produto = document.getElementById('produtoRemover').value;

            fetch('http://127.0.0.1:5000/remover_produto', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    produto: produto
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao remover produto.');
                }
            })
            .then(data => {
                alert(data.message); // Mensagem de sucesso ou erro
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }

        function alternarEstoqueGeral() {
            var estoqueGeralDiv = document.getElementById('estoqueGeral');
            if (estoqueVisivel) {
                estoqueGeralDiv.style.display = 'none';
                estoqueVisivel = false;
            } else {
                fetch('http://127.0.0.1:5000/visualizar_estoque_geral')
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Erro ao obter estoque geral.');
                    }
                })
                .then(data => {
                    exibirEstoqueGeral(data.estoque_geral);
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
                estoqueVisivel = true;
            }
        }

        function exibirEstoqueGeral(estoque) {
            var listaProdutos = document.getElementById('listaProdutos');
            listaProdutos.innerHTML = '';

            for (var produto in estoque) {
                var quantidade = estoque[produto].estoque; // Ajuste aqui para acessar a quantidade de estoque
                var listItem = document.createElement('li');
                listItem.textContent = produto + ': ' + quantidade;
                listaProdutos.appendChild(listItem);
            }

            document.getElementById('estoqueGeral').style.display = 'block';
        }

        function calcularLucro() {
            var lucroDiv = document.getElementById('lucro');
            var lucroTotal = parseFloat(document.getElementById('totalCarrinho').textContent) * 0.1; // 10% de lucro

            if (lucroVisivel) {
                lucroDiv.style.display = 'none';
                lucroVisivel = false;
            } else {
                document.getElementById('lucroTotal').textContent = lucroTotal.toFixed(2);
                lucroDiv.style.display = 'block';
                lucroVisivel = true;
            }
        }

        function adicionarAoCarrinho() {
            var produto = document.getElementById('produtoVenda').value;
            var quantidade = parseInt(document.getElementById('quantidadeVenda').value);

            fetch('http://127.0.0.1:5000/visualizar_estoque_individual', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ produto: produto })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Erro ao obter estoque do produto.');
                }
            })
            .then(data => {
                if (data.estoque >= quantidade) {
                    var item = carrinho.find(item => item.produto === produto);
                    if (item) {
                        item.quantidade += quantidade;
                    } else {
                        carrinho.push({ produto: produto, quantidade: quantidade, preco: data.preco });
                    }
                    atualizarCarrinho();
                } else {
                    alert('Estoque insuficiente.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        }

        function atualizarCarrinho() {
            var listaCarrinho = document.getElementById('listaCarrinho');
            listaCarrinho.innerHTML = '';

            var total = 0;
            carrinho.forEach(item => {
                var listItem = document.createElement('li');
                listItem.textContent = `${item.produto}: ${item.quantidade} x €${item.preco.toFixed(2)}`;
                listaCarrinho.appendChild(listItem);
                total += item.quantidade * item.preco;
            });

            document.getElementById('totalCarrinho').textContent = total.toFixed(2);
        }

        function finalizarCompra() {
            var valorPago = parseFloat(document.getElementById('valorPago').value);
            var total = parseFloat(document.getElementById('totalCarrinho').textContent);

            if (valorPago >= total) {
                var troco = valorPago - total;
                document.getElementById('troco').textContent = troco.toFixed(2);

                // Atualizar estoque no backend
                fetch('http://127.0.0.1:5000/vender_produto', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ carrinho: carrinho, valor_pago: valorPago })
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Erro ao finalizar compra.');
                    }
                })
                .then(data => {
                    alert(data.message);
                    carrinho = [];
                    atualizarCarrinho();
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
            } else {
                alert('Valor pago insuficiente.');
            }
        }

        function atualizarEstoque() {
    var produto = document.getElementById('produtoAtualizarEstoque').value;
    var novoEstoque = parseInt(document.getElementById('novoEstoque').value);

    fetch('http://127.0.0.1:5000/atualizar_estoque', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            produto: produto,
            novo_estoque: novoEstoque
        })
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Erro ao atualizar estoque.');
        }
    })
    .then(data => {
        alert(data.message); // Mensagem de sucesso ou erro
    })
    .catch(error => {
        console.error('Erro:', error);
    });
}

    </script>
</body>
</html>
